.rff-inputComponent {
    $main: &;
    display: inline-block;
    width: 100%;
    
    input:not([type=checkbox]):not([type=radio]), select {
        width: 100%;
    }

    &:not(.rff-inputComponent--checkbox):not(.rff-inputComponent--radio):not(.rff-inputComponent--hidden) {
        min-height: 40px;
    }

    &__custom-checkbox {
        display: inline;
    }

    &__error {
        color: red;
        font-size: 12px;
        margin: 0;
    }
}

.rff-recaptcha-info {
    margin: 10px 0;
    color: #aaa;
    font-size: 12px;

    a, a:link, a:visited, a:hover, a:active {
        color: #999;
        text-decoration: underline
    }
}